.modal-box {
  &__header h3 {
    margin: 0;
    margin-bottom: 1.2rem;
  }
  .btn {
    @include btn;
    background-color: $color-black;
    color: $color-white;
  }

  .modal-box__body {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 3vh;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

#error-modal-box {
  text-align: center;
  background: $color-dark;
  color: #fff;
  .modal-box__actions,
  h3 {
    display: none;
  }
  .error-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 50%;
    margin: 0 auto;
    img {
      display: block;
      max-width: 90%;
    }
  }
}

.modal-box#req-modal-box {
  .modal-box__actions {
    padding: 0;
  }

  .crm-request-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .text-field-holder {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .text-field {
    padding: 3vh 1.2rem;
    border-radius: 1.6rem;
    border: none;
    background-color: #f2f2f2;
    position: relative;
    width: 100%;
    transition: 0.4s;
    &:hover {
      background-color: #d9d9d9;
    }
    &:focus {
      border: 1px solid #d9d9d9;
    }
  }

  label {
    font-weight: 800;
  }

  .text-error {
    .text-field {
      background-color: #ffe5e9;
    }
    .text-field:hover {
      background-color: #ffc4ce;
    }

    .text-field:focus {
      background-color: #ffe5e9;
      border: 1px solid #ffc4ce;
    }
  }
  .error-text {
    font-size: 1.2rem;
    color: #e02d4a;
    display: none;
  }

  .text-error {
    .error-text {
      display: block;
    }
  }
}
