.section-slider {
  @media (min-width: $mobile-small) {
    padding-top: 2.4rem;
  }

  &__title {
    margin: 0;
    font-family: $font2;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1.2rem;
    @media (min-width: $mobile-small) {
      font-size: 2.8rem;
      line-height: 2.2rem;
      margin-bottom: 2.4rem;
    }
  }
  .gift-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @media (min-width: $mobile-small) {
      flex-direction: row;
      gap: 1.2rem;
      justify-content: space-between;
    }

    &__txt {
      background-color: $color-t2-darkblue;
      color: #fff;
      padding: 1.2rem;
      border-radius: 1.6rem;
      min-height: 32.6rem;
      display: flex;
      flex-direction: column;
      @media (min-width: $mobile-small) {
        max-height: none;
        min-height: 28rem;
        width: 50%;
        border-radius: 3.2rem;
        padding: 2.4rem;
      }

      .link,
      p {
        color: #fff;
        display: block;
        margin-bottom: 0.8rem;
        @include text-main;
      }
    }

    &__label {
      background-color: $color-t2-green;
      max-width: fit-content;
      padding: 0.6rem 1rem;
      border-radius: 1.6rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #000;
      margin-bottom: 0.8rem;
    }

    &__title {
      @include section-title-constant;
      margin-bottom: 0.5rem;
      @media (min-width: $mobile-small) {
      }
    }

    &__buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: auto;
      max-width: fit-content;
      @media (min-width: $mobile) {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.2rem;
      }
    }

    &__image {
      height: 24rem;
    }
  }
  .btn {
    width: 100%;
    margin-top: auto;
    max-width: fit-content;
    padding: 1.7rem 1.2rem;
    @media (min-width: $mobile) {
      padding: 1.2vw 1.8vw;
    }
  }
  .gift-image {
    max-height: 24rem;
    background-color: #000;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    @media (min-width: $mobile-small) {
      max-height: none;
      height: auto;
      width: 50%;
      border-radius: 3.2rem;
    }
    
    &__pic-layer {
      z-index: 10;
      position: absolute;

      img {
        display: block;
        max-width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $color-t2-green;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      right: -5rem;
      bottom: -5rem;
      z-index: 1;
      will-change: filter;
      filter: blur(75px);
      @media (min-width: $mobile-small) {
        max-width: 34rem;
      }
    }
  }
  .gift-content_first {
    .gift-image__pic-layer {
      @media (min-width: $mobile-small) {
        max-width: 79%;
        bottom: 2rem;
        left: 7rem;
      }
    }
  }

  .gift-content_second {
    .gift-image__pic-layer {
      position: absolute;
      bottom: -1.5rem;
      left: 1rem;
      max-width: 88%;

      @media (min-width: $mobile-small) {
        max-width: 68%;
        bottom: -1rem;
        left: 8rem;
      }
    }
  }

  .gift-content_third {
    .gift-image__pic-layer {
      max-width: 84%;
      position: absolute;
      bottom: -3rem;
      left: 3rem;

      @media (min-width: $mobile-small) {
        max-width: 62%;
        bottom: -2rem;
        left: 13rem;
      }
    }
  }

  // picture {
  //   min-width: 100%;
  //   display: block;
  //   position: absolute;
  //   bottom: -2rem;
  //   height: 100%;
  //   @media (min-width: $mobile-small) {
  //     bottom: -15%;
  //   }
  // }

  // img {
  //   display: block;
  //   height: auto;
  //   width: 100%;
  // }
}
